[submodule "cores/ulpi_wrapper"]
	path = cores/ulpi_wrapper
	url = https://github.com/ultraembedded/core_ulpi_wrapper.git
[submodule "cores/ft60x_axi"]
	path = cores/ft60x_axi
	url = https://github.com/ultraembedded/core_ft60x_axi.git
